@model Webshop_CookInStyle.ViewModels.IndexAdminKlantenVM

@{
    ViewData["Title"] = "Klanten beheer";
}

<style>
    .beetjePadding {
        padding: 5px;
        margin-right: 15px;
    }
</style>

<div class="container card">
    <div class="row card-body">
        <h1>Klanten beheer</h1>
    </div>
    <div class="row card-body">
        <p>
            <a asp-action="AddKlant" class="btn btn-success">Nieuwe klant invoegen</a>
        </p>
    </div>
    <div class="row card-body">
        <form asp-controller="AdminKlanten" asp-action="Search" method="get">
            <div class="form-actions no-color">
                <p>
                    Zoek op naam en voornaam
                    <input class="beetjePadding" asp-for="NaamSearch" />
                    Zoek op firmanaam
                    <input class="beetjePadding" asp-for="FirmanaamSearch" />
                    Zoek op btwnummer
                    <input class="beetjePadding" asp-for="BtwnummerSearch" /><br /><br />
                    Zoekopdracht:
                    <input class="beetjePadding" asp-for="SearchQuerry" />
                    <input type="submit" value="Zoeken" class="btn btn-primary" />
                    <a asp-controller="AdminKlanten" asp-action="Index" class="btn btn-primary">Volledige lijst</a>
                </p>
            </div>
        </form>
    </div>
    <div class="row card-body">
            <div class="col-sm-12">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Klanten[0].NaamWeergave)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Klanten[0].StraatEnNummer)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Klanten[0].Postcode.Weergave)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Klanten[0].Naam)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Klanten)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NaamWeergave)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StraatEnNummer)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Postcode.Weergave)
                                </td>
                                @if (item.IsBedrijf == true)
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Naam)
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <p>n.v.t.</p>
                                    </td>
                                }
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    





</div>