@model Webshop_CookInStyle.ViewModels.EditProductenVM

@{
    ViewData["Title"] = "Productdetails";
}

<div class="container card">
    <div class="row card-body">
        <h1>Details</h1>
    </div>
    <div class="row card-body">
        <h4>Product: @Model.Product.Naam</h4>
        <hr />
    </div>
    <div class="row card-body">
        <dl class="row card-body">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Omschrijving)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Omschrijving)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.ProductType.Omschrijving)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.ProductType.Omschrijving)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Eenheidsprijs)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Weergave)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Btwtype)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Btwtype.Weergave)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Eenheid)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Eenheid.Omschrijving)
            </dd>
            <dt class="col-sm-2">
                <p>Allergenen:</p>
            </dt>
            @foreach (var item in Model.Product.Allergenen)
            {
                <dt class="col-sm-2">
                    <p><br />  </p>
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.Allergeen.Omschrijving)
                </dd>
            }
        </dl>
    </div>
    <div class="row card-body">
        <span id="deleteSpan">
            <a href="#" onclick="confirmDelete(true)" class="btn btn-danger">Product verwijderen</a>
        </span>
        <span id="confirmDeleteSpan" style="display:none">
            <span><strong>Bent u zeker dat u "@Model.Product.Naam" wilt verwijderen?</strong></span>
            <a asp-action="DeleteProduct" asp-route-id="@Model.Product.ProductID" class="btn btn-danger">Bevestig</a>
            <a href="#" onclick="confirmDelete(false)" class="btn btn-primary">Annuleer</a>
        </span>
    </div>
    <div class="row card-body">
        <a asp-action="EditProduct" asp-route-id="@Model.Product.ProductID" class="btn btn-info">Edit</a>
    </div>
    <div class="row card-body">
        <a asp-action="Index" class="btn btn-primary">Terug</a>
    </div>
</div>