@model Webshop_CookInStyle.ViewModels.IndexAdminProductenVM

@{
    ViewData["Title"] = "Producten";
}

<h1>Producten</h1>

<p>
   <a asp-action="AddProductType">Producttype beheer</a>  |  <a asp-action="AddAllergeen">Allergenen beheer</a>
</p>

<form asp-controller="AdminProducten" asp-action="Search" method="get">
    <div class="form-actions no-color">
        <p>
            Producten zoeken:
            <input asp-for="Productsearch" />
            <input type="submit" value="Zoeken" class="btn btn-primary" />
            <a asp-controller="AdminProducten" asp-action="Index">Volledige lijst</a>
        </p>
    </div>
</form>
<div class="row">
    <div class="col-sm-6">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Producten[0].Naam)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Producten[0].ProductType.Omschrijving)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Producten[0].Weergave)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Producten)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductType.Omschrijving)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Weergave)
                    </td>
                    <td>
                        <a asp-action="Detail" asp-route-id="@item.ProductID">Details</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5">

        @if (ViewBag.Visibility == true)
        {
            <div class="alert alert-danger">
                <p>@ViewBag.ErrorMessage</p>
            </div>
        }

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.Naam" class="control-label"></label>
                <input asp-for="Product.Naam" class="form-control" />
                <span asp-validation-for="Product.Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Omschrijving" class="control-label"></label>
                <input asp-for="Product.Omschrijving" class="form-control" />
                <span asp-validation-for="Product.Omschrijving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Eenheidsprijs" class="control-label"></label>
                <input asp-for="Product.Eenheidsprijs" class="form-control" />
                <span asp-validation-for="Product.Eenheidsprijs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductTypeID" class="control-label">Producttype</label>
                <select asp-for="Product.ProductTypeID" class="form-control" asp-items="Model.Producttypes"></select>
            </div>
            <div class="form-group">
                <label asp-for="Product.BtwID" class="control-label">Btw-type</label>
                <select asp-for="Product.BtwID" class="form-control" asp-items="Model.BtwTypes"></select>
            </div>
            <div class="form-group">
                <label asp-for="Product.EenheidID" class="control-label">Eenheid</label>
                <select asp-for="Product.EenheidID" class="form-control" asp-items="Model.Eenheden"></select>
            </div>
            <div class="form-group">
                <label asp-for="GeselecteerdeAllergenen" class="control-label">Allergenen</label>
                <select multiple="multiple" asp-for="GeselecteerdeAllergenen" class="form-control" asp-items="Model.Allergenen"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
